body.about_index {
  .list-contact {
    @extend .list-unstyled;
    li {
      @extend .col-md-4;
    }
  }
  .job__role {
    font-size: $font-size-small;
    margin-top: ($jason-space / 2);
    margin-bottom: 0;
    color: darken($brand-primary, 25%);
    font-style: italic;
    & + p {
      // color: red;
    }
  }
  h3 {
    margin-top: ($jason-space * 3);
  }
  .job__links {
    a {
      @media (max-width: $screen-sm-min) {
        display: block;
        line-height: 0em;
      }
    }
  }
}
