.banner {
  position: relative;
  text-align: left;
  min-height: 0;
  background-color: #A432F4;
  background-image: url(../images/JC-HERO-PurpleFace-v02.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: $jason-space;
  padding-bottom: ($jason-space * 2);
  margin: 0;

  .title {
    font-family: $headings-font-family;
    text-transform: uppercase;
    color: #fff;
    font-size: 11vw;
    line-height: 0.75em;
    margin: 0;
    padding: 0.325em 0 0;
    text-shadow: 9px 7px 16px rgba(110,11,179,0.6);
    text-align: center;
    @media (min-width: $screen-sm-min) {
      letter-spacing: -0.065em;
      text-align: left;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 8rem;
    }
  }
  .subtitle {
    text-transform: lowercase;
    color: #FFFF93;
    font-size: 6.45vw;
    line-height: 1em;
    font-weight: 200;
    padding: 0;
    margin: 0.45em 0 0;
    letter-spacing: -.008em;
    text-shadow: 3px 2px 4px rgba(110,11,179,0.8);
    @media (min-width: $screen-md-min) {
      font-size: 2.95vw;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 4rem;
    }
  }
  svg.icon-arrow-downright {
    fill: #fff;
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: -3px;
    left: -9999em;
    @media (min-width: $screen-sm-min) {
      left: 2.75rem;
    }
  }
}

// Different typography for home page
body.index {
  .banner {
    min-height: 380px;
    text-align: center;
    @media (min-width: $screen-lg-min) {
      min-height: 720px;
    }
    .title {
      font-size: 24vw;
      letter-spacing: -0.065em;
      text-align: center;
      @media (min-width: $screen-md-min) {
        font-size: 15rem;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 24rem;
        padding-top: 16rem;
      }
    }
  }
}