// WP Engine DXP case study
$color-tiffany: #0ECAD4;
$color-mirage:  #002838;
$color-polar:   #f4f7fa;

.bkg-tiffany {
  background: $color-tiffany;
  color: #fff;
}

.projects_wpengine-dxp {
  // manually center images
  @media (min-width: $screen-lg-min) {
    img.nav-exploration {
      margin-left: -112.5px;
    }
    img.p13n-form {
      margin-left: -121.5px;
    }
    img.doc-components {
      margin-left: -187.5px;
    }
    img.doc-bbdemo {
      margin-left: -210px;
    }
    img.doc-guide {
      margin-left: -47px;
    }
   .powder-video, .powder-image {
      margin-left: -170px;
    }
    img.component-plans-table {
      margin-left: -170px;
    }
  }

  section.odd {
    background: $color-polar;
    hr {
      border-color: darken($color-polar, 10%);
    }
  }
  section.hero {
    background: $color-mirage url(../images/projects/wpengine-dxp/dxp-hero.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
    .categories {
      span {
        background: rgba(255,255,255,0.26);
      }
    }
    .content {
      position: relative;
      z-index: 1;
    }
    &::after{
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($color-mirage, 0.4);
      z-index: 0;
    }
    h1 {
      span {
        background: rgba($color-tiffany, 0.7);
      }
    }
  }

  section.my-notable-parts {
    @extend .bkg-tiffany;
  }

  // Powder video
  .powder-container {
    @media (hover) {
      position: relative;
      cursor: crosshair;
      &:hover, &:active {
        .powder-video {
          opacity: 0;
        }
      }
    }
    .powder-video {
      width: 100%;
      display: none;
      @media (hover) {
        display: block;
        position: absolute;
        top: 0;
        transition: opacity 1s;
      }
      @media (min-width: $screen-lg-min) {
        max-width: 1100px;
        width: unset;
      }
    }
    .powder-image {

      @media (hover) {

      }
    }
  }

  // The team
  .collaborators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .vcard {
      flex: 0 0 25%;
      margin: 0;
      @media (max-width: $screen-sm-min) {
        flex: 0 0 50%;
        text-align: center;
      }
      img {
        margin: 0 auto;
      }
    }
  }
  // What I learned
  .what-i-learned {
    @extend .bkg-tiffany;
  }
}
