@font-face {
    font-family: 'headingstbold';
    src: url('../fonts/headings-bold-webfont.woff2') format('woff2'),
         url('../fonts/headings-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: $jason-space;
  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: normal;
}
h1, .h1 {
  margin-top: 0;
}

h2, .h2 {
  margin-top: $jason-space;
  &:first-child {
    margin-top: 0;
  }
}

h3, .h3 {
  margin-bottom: 0;
  letter-spacing: 1px;
  span {
    font-style: italic;
  }
}

dt {
  font-family: $headings-font-family;
  font-weight: normal;
}

aside, main {
  a:link {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

a[href*="//"]:not([href*="hellojason.net"]) {
  &::after {
    content: "\00A0(\2348)";
    text-decoration: none;
    display: inline-block;
    color: inherit;
  }
}

.section-heading {
  @extend .col-md-4;
  text-align: right;
  @media (max-width: $screen-md-min) {
    text-align: left;
  }
  h2 {
    text-transform: uppercase;
    @media (max-width: $screen-sm-min) {
      font-size: $font-size-h3;
    }
  }
}
